
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	background: #fff;
	word-wrap: break-word;
}

a:link, a:visited { color: #000000; text-decoration: underline; font-weight: normal; } 
a:active, a:hover { color: #000000; text-decoration: none; }

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_15 { clear: both; width: 100%; height: 15px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_40 { margin-right: 40px; }
.margin_right_60 { margin-right: 60px; }

.fl { float: left; }
.fr { float: right; }

.button_01 a{
	clear: both;
	display: block;
	width: 104px;
	height: 25px;
	padding-top: 5px;
	background: url(images/templatemo_readmore_button.jpg) no-repeat;
	
	color: #000;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}


.header_01 {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 15px;
	font-size: 22px;
	
	color: #000000;
	background: url(images/templatemo_header_underline.jpg) left bottom no-repeat;	
}

.ng {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 15px;
	font-size: 22px;
	
	color: #000000;
	background: url(images/templatemo_header_underline.jpg) left bottom no-repeat;	
}

.header_02 {
	clear: both;
	font-size: 18px;
	
	color: #FFFFFF;
	height: 20px;
	padding: 10px 20px;
	margin-bottom: 20px;
	background: url(images/templatemo_side_header_bg.jpg) repeat-x;	
}


.site_flag{
	float:right;
}

.header_02 {
	clear: both;
	font-size: 18px;
	
	color: #FFFFFF;
	height: 20px;
	padding: 10px 20px;
	margin-bottom: 20px;
	background: url(images/templatemo_side_header_bg.jpg) repeat-x;	
}

.header_03 {
	clear: both;
	font-size: 18px;
	color: #dad021;
	font-weight: bold;	
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	background: url(images/templatemo_banner_divider.jpg) bottom repeat-x;
}

.header_04 {
	clear: both;
	font-size: 14px;
	color: #c7bb10;
	font-weight: bold;	
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	background: url(images/templatemo_footer_divider.jpg) bottom repeat-x;
}

.header_05 {
	clear: both;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.header_05 a{
	clear: both;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

#templatemo_header_wrapper {
	width: 100%;
	height: 114px;
	margin: 0 auto;
	background: #19446a url(images/templatemo_header_bg.jpg) repeat-x;
}

#templatemo_header {
	width: 980px;
	margin: 0 auto;
}

#templatemo_header #site_logo {
	float: left;
	width: 340px;
	height: 100px;
	font-size: 40px;
	color: #ffffff;
	background:url(images/templatemo_logo.jpg) no-repeat;
}

/* end of header */

/* menu */
#templatemo_menu_wrapper {
	clear: both;
	width: 100%;
	height: 41px;
	margin: 0 auto;
	background: url(images/templatemo_menu_bg.jpg) repeat-x;
}

#templatemo_menu {
	width: 1000px;
	height: 41px;
	margin: 0 auto;
}

#templatemo_menu ul {
	margin: 0 0 0 10px;
	padding: 0px;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 22px;
	width: 122px;
	padding: 13px 0 0 0;
	background: url(images/templatemo_menu.jpg) bottom no-repeat;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #FFF;	
	font-weight: bold;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #000;
	background: url(images/templatemo_menu_hover.jpg) bottom no-repeat;
}

/* end of menu*/

/* content */

#tempatemo_content_wrapper {
	clear: both;
	width: 1000px;
	margin: 0 auto;
}

#templatemo_content {
	width: 960px;
	margin: 10px;
	padding: 9px;
	border: 1px solid #c3c4c5;
	background: #d8d7d7;
}



#content_panel {
	clear: both;
	width: 958px;
	border: 1px solid #c6c5c5;
	background: #eeeeee;
}

#column_w610 {
	float: left;
	width: 660px;
	padding: 20px 28px 10px 20px;
	background: #ffffff;
}

.left {
	float: left;
	width: 660px;
	padding: 20px 28px 10px 20px;
	background: #ffffff;
}

#column_w290 {
	float: left;
	width: 250px;
	padding: 5px 0 20px 0;
	background: #eeeeee url(images/content_right_column_bg.jpg) left repeat-y;
}

#column_w290 a{ display:block;  color:#000; font-weight:bold; padding:2px 5px;  text-decoration:none; margin-bottom:0px; border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; border-left:1px solid #CCCCCC;border-top:1px solid #CCCCCC; }

#column_w290  a:hover{ color:#fff; background:#339CCB;text-decoration:none;} 

.news_section {
	clear: both;
	margin: 0 20px 20px 20px;
}

.news_section .news_date {
	float: left;
	width: 70px;
	height: 50px;
	padding: 20px 0 0 0;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background: url(images/templatemo_news_date_bg.jpg) no-repeat;
}

.news_section .news_date span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: normal;
}

.news_section .news_content {
	float: right;
	width: 160px;
}

#column_w290 .inputfield {
	height: 16px;
	width: 235px;
	padding: 2px 5px;
	margin: 0 0 10px 0;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
}

#column_w290 .submitbutton {
	float: right;
	margin: 0px;
	padding: 2px 6px 4px 6px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
}

.column_w290_content {
	margin: 0 20px;
}

#column_w610 p {
	padding-bottom: 20px;
}

.left p {
	padding-bottom: 20px;
}

.section_01 {
	clear: both;
	position: relative;
	width: 590px;
	padding: 10px 20px 10px 20px;
	margin-bottom: 20px;
	background: url(images/templatemo_section_middle.jpg) repeat-y;
}

.section_01 .top {
	position: absolute;
	width: 590px;
	height: 22px;
	top: 0px;
	left: 0px;
	background: url(images/templatemo_section_top.jpg) top left no-repeat;
}

.section_01 .bottom {
	position: absolute;
	width: 510px;
	height: 22px;
	bottom: 0px;
	left: 0px;
	background: url(images/templatemo_section_bottom.jpg) bottom left no-repeat;
}

.list_with_icon {
	margin: 0 0 0 30px;
	padding: 0px;
	list-style: none;
}

.list_with_icon li {
	margin: 0 0 10px 0;
	padding: 0 0 0 30px;
	background: url(images/templatemo_list_icon.jpg) left top no-repeat;
}

/* end of content */

/* footer */

#templatemo_footer_wrapper {
	width: 100%;
	margin: 0 auto;
	background: #111d28;
}

#templatemo_footer {
	width: 920px;
	padding: 20px;
	height:60px;
	margin: 0 auto;
	color: #828c96;
	background: url(images/templatemo_footer_bg.jpg) bottom center no-repeat
}

#templatemo_footer a {
	color: #FFFFFF;
}

.section_w920 {
	text-align: center;
	width: 920px;
}

.section_w184 {
	float: left;
	width: 144px;
	padding: 0 40px 0 0;	
}

.section_w368 {
	float: left;
	width: 328px;
	padding: 0 40px 0 0;
}

.footer_menu_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer_menu_list li {
	margin: 0px;
	padding: 0px;
}

.footer_menu_list li a {
	color: #828c96;
	text-decoration: none;
}
/* end of footer */

.rating0{
   background-image: url('images/0.png');
}
.rating1{
   background-image: url('images/1.png');
}
.rating2{
   background-image: url('images/2.png');
}

.profil-m{
	border: 1px dotted #CCC;
background-color:white;
width:120px;
height:150px;
text-align:center;

} 

.td_hover{
	padding:5px 5px 5px 5px;
	margin:5px 5px 5px 5px;
	border:1px solid silver;
}
.td_hover:hover{
	background: #E0E0E0;
}


.td_hover a{
	text-decoration:none;
}

.a_hover{
	padding:5px 5px 5px 5px;
	margin:5px 5px 5px 5px;
	border:1px solid silver;
	text-decoration:none;
	font-weight:bold;
}
.a_hover:hover{
	background: #E0E0E0;
}

.profil-menu{
   width:100%;
   height:20px;
   text-align:center;
        padding-top:5px;

        font-weight:bold;
        color:white;
   background-image: url('images/menu.jpg');
}

.profil-menu a{ color:white; text-decoration:none; }
.profil-menu a:hover{ color:#11A6D4; } 



div.cookie-alert {
	z-index: 1010;
	opacity: 0.9;
	position: fixed;
	bottom: 0px;
	background: #ffffff;
	border-top: 1px solid #aaaaaa;
	padding: 10px;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	width: 100%;
}

div.cookie-alert p {
	width: 1000px;
	margin: 0px auto;
	text-align: left;
	line-height: 20px;
}