<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <base href="/"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>

            Poznaj swoją drugą połówkę 
        </title>
        <meta name="keywords" content="Ogłoszenia, towarzyskie, druga połówka, znajdź miłość, ogłoszenia" />
        <meta name="description" content="

              Portal przeznaczony jest dla osób samotnych, ale oczywiście nie tylko. Jest tu miejsce dla zmęczonych samotnością,spragnionych i poszukujących miłości, przygody czy sexu.
              " />




        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/function.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

        <link href="templates/new_red/style.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="/js/jQuery2.js"></script>
        <script type="text/javascript" src="/js/overlib_red2.js"><!-- overLIB (c) Erik Bosrup --></script>


        <link href="/include/bxslider/jquery.bxslider.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="/include/bxslider/jquery.bxslider.min.js"></script>

        <script type="text/javascript">
       var RecaptchaOptions = {
           theme: 'white',
       };
        </script>






        <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        {
            lang: 'pl'
        }
        </script>

    </head>

    <body style="background-image:url('/images/bg/tlo.jpg')">


        <div class="site_head">

            <div class="site_head_logo">
                <div class="site_head_logo_left">
                    <a href="" class="site_head_logo_a" >Ogłoszenia towarzyskie</a>

                </div>
                <div class="site_head_logo_right">
                    <div style="float:left;">
                        <div style="height:24px; width:65px;padding-top:4px;">
                            &nbsp;&nbsp;<a href="get_lang.php?lang=pl">
                                <img src="lang/pl/flag.gif" alt="pl" /></a>&nbsp;&nbsp;<a href="get_lang.php?lang=en"><img alt="EN" src="lang/en/flag.gif" /></a>
                        </div></div>                  <div class="logowanie" style="float:right;">
                        <form action="" method="POST">
                            <table>
                                <tr>
                                    <td><b>&nbsp;Login:</b></td>
                                    <td><input type="text" name="login" style="width:130px;"></td>
                                </tr>
                                <tr>
                                    <td><b>&nbsp;Hasło:</b></td>
                                    <td><input type="password" name="haslo"  style="width:130px;"></td>
                                </tr>
                            </table>
                            <table width="90%"><tr><td width="50%" align="left"><input type="submit" value="Zaloguj" name="login_user"></td><td align="center"></td></tr></table>
                        </form>
                        <center>
                            <a href="fbc.php?login=fb"><img alt="Zaloguj facebook" src="images/facebook_zaloguj.png"></a>
                            <center>
                                </div>

                                </div>
                                </div><!---
                                <div class="site_head_menu">
                                  <ul class="top_menu">
                              
                                  </ul>
                                </div>--->

                                </div>
                                <!----Reklama top----->
                                <!----Reklama top----->




                                <div class="site_footer">
                                    <div class="site_footer_left">
                                        <ul class="footer_menu">
                                            <li><a href="regulamin/">Regulamin</a></li>
                                            <li><a href="polityka/">Polityka prywatności</a></li>

                                            <li><a href="http://towarzyskie.info.pl/kontakt/">Kontakt</a></li>
                                        </ul>
                                    </div>
                                    <div class="site_footer_right">&copy; &nbsp;2015 </div>
                                </div>

                                <div> <!----Reklama stopka----->

                                    <!----Reklama profi-----></div>

                                </body>
                                </html>






